*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', sans-serif;
}

body{
    width: 100%;
}

#title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}


.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#editor{
    color: white;
    border-radius: 10px;
    background-color: rgb(36, 36, 36);
    margin: 10px;
    padding: 0.5rem;
    resize: vertical;
    min-height: 240px;
    overflow: hidden;
    width: 100%;
}
#editor:focus{
    border-width: 2px;
    border-color: crimson;
    outline: none;
}